<!DOCTYPE html>
{% extends 'nav.html' %}
{% block baseblock  %}
{% load static %}

<head>
    <title>Visual Analytics | Dashboard </title>

</head>
<html lang="en">

<body>
<form method="POST">
    {% csrf_token %}



<!-- Tab panes -->
<div class="tab-content">
  
    <!-- dashboard starts here -->
  <div class="tab-pane container-fluid active" id="dashboard">

    <div class="card-deck mt-3">

        <div class="card shadow-lg border-0" style="border-radius:10px;background: linear-gradient(105.87deg, #EFE0C5 3.04%, #F2D39E 96.05%);">
          <div class="card-body mt-1 text-center" style="padding: 0px 10px 0px 10px!important;">
           <a href="/helmet/{{token1}}" class="text-dark" style="text-decoration: none;" >
            <div class="row">
                <div class="col-md-3">
                <img   src="{% static 'img/helmet.png' %}" width="78" >

                </div>
                <div class="col-md-9 text-left">
                    <p class="card-text ml-3">Personal Protective Equipment</p>
                    <h1 class="ml-3">{{ max_id.0}}</h1>
                </div>
            </div></a>
            <div class="row">
                <div class="col-md-6  text-left">
                <p>Month - 12</p>
                </div>
                <div class="col-md-6  text-right">
                    <p>Year - 30</p>
                </div>
            </div>

          </div>
        </div>


        <div class="card shadow-lg border-0" style="border-radius:10px;background: linear-gradient(105.87deg, #C2EEF7 3.04%, #93B6BD 96.05%);">
            <div class="card-body mt-1 text-center" style="padding: 0px 10px 0px 10px!important;">
                <a   href= "/Hazard/{{token1}}"  class="text-dark" style="text-decoration: none;">
                <div class="row">
                    <div class="col-md-3">

                    <img src="{% static 'img/workarea.png' %}" width="62">



                    </div>
                    <div class="col-md-9 text-left">
                        <p class="card-text ml-2">Hazard Protection for Employees</p>
                        <h1 class="ml-2">{{ max_id.1 }}</h1>
                    </div> 
                </div></a>
                <div class="row">
                    <div class="col-md-6  text-left">
                    <p>Month - 12</p>
                    </div>
                    <div class="col-md-6  text-right">
                        <p>Year - 30</p>
                    </div>
                </div>
            
              </div>
        </div>


        <div class="card shadow-lg border-0" style="border-radius:10px;background: linear-gradient(105.87deg, #B9E8A9 3.04%, #D4F2CC 96.05%);">
            <div class="card-body mt-1 text-center" style="padding: 0px 10px 0px 10px!important;">
                 <a   href= "/Double_billet/{{token1}}"  class="text-dark" style="text-decoration: none;">
                <div class="row">
                    <div class="col-md-5">

                    <img  src="{% static 'img/billet.png' %}" width="120" height="110">



                    </div>
                    <div class="col-md-7 text-left">
                        <p class="card-text ml-2">Double Billet Operation</p>
                        <h1 class="ml-2">{{ max_id.2 }}</h1>
                    </div> 
                </div></a>
                <div class="row  mt-2">
                    <div class="col-md-6  text-left">
                    <p>Month - 12</p>
                    </div>
                    <div class="col-md-6  text-right">
                        <p>Year - 30</p>
                    </div>
                </div>
            
              </div>
        </div>



        <div class="card shadow-lg border-0" style="border-radius:10px;background: linear-gradient(105.87deg, #FFA3A3 3.04%, #F1B2D0 96.05%);">
            <div class="card-body mt-1 text-center" style="padding: 0px 10px 0px 10px!important;">
                <a   href= "/vehicle/{{token1}}"  class="text-dark" style="text-decoration: none;">
                <div class="row">
                    <div class="col-md-5">

                    <img  src="{% static 'img/vehicle.png' %}" width="120" height="110">


                    </div>
                    <div class="col-md-7 text-left">
                        <p class="card-text ml-2">Vehicle Speed Detection</p>
                        <h1 class="ml-2">{{ max_id.3 }}</h1>
                    </div> 
                </div></a>
                <div class="row mt-2">
                    <div class="col-md-6  text-left">
                    <p>Month - 12</p>
                    </div>
                    <div class="col-md-6  text-right">
                        <p>Year - 30</p>
                    </div>
                </div>
            
              </div>
        </div>
      </div>
  </div>
  <!-- dashboard ends here -->

  <!-- Camera management ends here -->
  <div class="tab-pane container fade" id="camera_management">
    Camera starts
  </div>
  <!-- Camera management ends here -->

  <!-- User management ends here -->
  <div class="tab-pane container fade" id="user_management">
    User starts
  </div>
  <!-- User management ends here -->
</div>
</div>

</form>

<!--<script>-->
<!--    window.setTimeout( function() {-->
<!--  window.location.reload();-->
<!--}, 10000);-->
<!--</script>-->

</body>
</html>
{% endblock %}


