<!DOCTYPE html>

{% load static %}


<html lang="en">
<head>
  <title>Visual Analytics | Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="C:\Users\LENOVO\PycharmProjects\Visual analytics\app\templates\static\">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body{
    margin-top:20px;
    background: linear-gradient(60deg, #361c48, #150321); 
}
.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.account-block {
    padding: 0;
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(28 7 40 / 67%);
}
.account-block .account-testimonial {
    text-align: center;
  
    color: #7e7e7e;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    
    bottom: 0rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #5369f8 !important;
}

.btn-theme {
    background: linear-gradient(105.87deg, #5D3C65 3.04%, #503877 96.05%);
    border-color: #5D3C65;
    color: #fff;
    border-radius: 30px;
}
.font12{
    font-size: 12px;
}
  </style>


</head>
<form method="POST">
    {% csrf_token %}


<body>
    

    <div id="main-wrapper" class="container center">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="card" style="border:1px solid #555555;box-shadow: 4px -4px 4px 0px #00000040 inset;box-shadow: -4px 4px 4px 0px #FFFFFF40 inset;">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block">
                                    <div class="overlay"></div>  

                                    <img src="{% static 'img/bg3.jpg' %}"  class="img-fluid" style="height: 100%;">
                                    <div class="account-testimonial">
                                        <img src="{% static 'img/logo_white.png' %}" class="img-fluid" width="250">

                                          <div class="row">
                                            <div class="col-md-4">
                                                <a href="https://www.wakeflo.com/"   style="font-size:14px;color: #7e7e7e;">www.wakeflo.com</a>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="social-media mb-3">

                                                   <a href="https://www.facebook.com/WakefloTech" target="_blank"> <img  src="{% static 'img/icons/facebook.png' %}" class="p-1" width="25"></a>
                                                   <a  href="https://www.instagram.com/wakeflotech/" target="_blank"><img  src="{% static 'img/icons/instagram.png' %}"class="p-1" width="25"></a>
                                                   <a  href="https://www.youtube.com/channel/UCRleUzge8AX7wrPofMQ5D4g"  target="_blank"> <img src="{% static 'img/icons/youtube.png' %}"  class="p-1" width="25"></a>
                                                   <a  href="https://www.linkedin.com/company/wakeflotech/mycompany/"  target="_blank"><img src="{% static 'img/icons/linkedin.png' %}"  class="p-1" width="25"></a>


                                                 </div>  
                                            </div>
                                            <div class="col-md-4">
                                                <p class="fa fa-copyright fa fa-1x" style="font-size:14px;">&nbsp;copyright</p>
                                            </div>
                                          </div>
                                         
                                        
                                    </div>
                                   
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="row container-fluid">
                                    <div class="col-md-6">
                                        <span style="font-size: 10px;" id="datetime"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <span style="font-size: 10px;" class=" float-right mt-2">www.wakeflo.com</span>

                                    </div>
                                </div>
                                <div class="p-4">
                                    
                                    <form class="p-2">
                                        <div class="mb-3">
                                            <h3 class="h4 font-weight-bold">Login</h3>
                                        </div>
                                        <p class="text-muted mt-1 mb-3" style="font-size: 12px;">Welcome to Wakeflo. Please enter your user name and password to get started </p>
        
                                        <div class="form-group">


                                            <label  class="col-sm-6">
                                              <span class="h6 small bg-white text-muted pt-1 pl-1 pr-2">Username</span> 
                                            </label>
                                            <input type="text" class="form-control mt-n3" name="email" id="username">
                                          </div>
                                          <div class="form-group">
                                            <label  class="col-sm-6">
                                              <span class="h6 small bg-white text-muted pt-1 pl-1 pr-2">Password</span> 
                                            </label>
                                            <input type="password" class="form-control mt-n3" name="password" id="password">

                                          </div>
                                              {% if messages %}
                                              {% for message in messages %}

                                                  <div class="alert alert-danger" role="alert">
                                                                  {{ message }}.
                                                 </div>

                                             {% endfor %}
                                             {% endif %}

                                        <div class="custom-control custom-checkbox mb-3">
                                            <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                                          </div>


                                          <a href="forgot/" class="forgot-link float-right text-primary font12 mt-2">Forgot password</a>
                                        <button type="submit" formaction="login/{{token}}" class="btn btn-theme pl-4 pr-4 mb-5 mt-1">Login</button>



                                        <p class="text-center font12">By logging in, you agree to our</p>
                                        <div class="row">
                                            <div class="col-md-5 col-sm-4">
                                                <a href="#" class="font12">Terms & Conditions</a>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <a href="#" class="font12">Privacy Policy</a>
                                            </div>
                                            <div class="col-md-3 col-sm-4">
                                                <a href="#" class="font12">Disclaimer</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
    
    
                <!-- end row -->
    
            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>




</div>
    <script>
        function displayDateTime() {
    var dt = new Date();
 var date = dt.toLocaleDateString();
var time = dt.toLocaleTimeString();
document.getElementById("datetime").textContent = date + " " + time;
} setInterval(displayDateTime, 1000);
    </script>

</body>
</form>

</html>
